<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".SmartKidApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartkid"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="NotificationPermission">
        <activity android:name=".feature.student.ai.AITutorActivity" android:exported="false" />
        <activity android:name=".feature.student.course.LessonDiscussionActivity" android:exported="false" />
        <activity android:name=".feature.student.ai.LearningAnalysisActivity" android:exported="false" />
        <activity android:name=".feature.student.ai.AssessmentActivity" android:exported="false" />
        <activity android:name=".feature.teacher.TeacherManagementActivity" android:exported="false" />
        <activity android:name=".feature.teacher.course.TeacherCourseCreateActivity" android:exported="false" />
        <activity android:name=".feature.teacher.course.TeacherModuleCreateActivity" android:exported="false" />
        <activity android:name=".feature.teacher.course.TeacherLessonCreateActivity" android:exported="false" />
        <activity android:name=".feature.teacher.exercise.TeacherExerciseEditorActivity" android:exported="false" />
        <activity android:name=".feature.admin.AdminManagementActivity" android:exported="false" />
        <activity android:name=".feature.admin.users.AdminUserCreateActivity" android:exported="false" />
        <activity android:name=".feature.admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".common.navigation.UnsupportedRoleActivity" android:exported="false" />
        <activity android:name=".feature.teacher.TeacherCourseContentActivity" android:exported="false" />
        <activity android:name=".feature.teacher.course.builder.TeacherCourseBuilderActivity" android:exported="false" />
        <activity android:name=".feature.teacher.TeacherDashboardActivity" android:exported="false" />
        <activity android:name=".feature.student.profile.ParentActivity" android:exported="false" />
        <activity android:name=".feature.shared.profile.ChangePasswordActivity" android:exported="false" />
        <activity android:name=".feature.shared.profile.ProfileEditActivity" android:exported="false" />
        <activity android:name=".feature.shared.notification.FeatureListActivity" android:exported="false" />
        <activity android:name=".feature.student.exam.ExamActivity" android:exported="false" />
        <activity android:name=".feature.student.course.CatalogActivity" android:exported="false" />
        <activity
            android:name=".feature.shared.auth.ResetPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="smartkid" android:host="reset-password" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.shared.auth.ForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.shared.auth.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.student.course.LessonPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".feature.student.course.LessonExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".feature.student.course.CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.student.shell.StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.shared.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
