<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".SmartKidApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartkid"
        android:usesCleartextTraffic="true"
        tools:ignore="NotificationPermission">
        <activity android:name=".feature.ai.AITutorActivity" android:exported="false" />
        <activity android:name=".feature.course.LessonDiscussionActivity" android:exported="false" />
        <activity android:name=".feature.payment.CartActivity" android:exported="false" />
        <activity android:name=".feature.ai.LearningAnalysisActivity" android:exported="false" />
        <activity android:name=".feature.ai.AssessmentActivity" android:exported="false" />
        <activity android:name=".feature.management.ManagementFeatureActivity" android:exported="false" />
        <activity android:name=".feature.management.ManagementCreateActivity" android:exported="false" />
        <activity android:name=".feature.admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".feature.teacher.TeacherDashboardActivity" android:exported="false" />
        <activity android:name=".feature.profile.ParentActivity" android:exported="false" />
        <activity android:name=".feature.profile.ChangePasswordActivity" android:exported="false" />
        <activity android:name=".feature.profile.ProfileEditActivity" android:exported="false" />
        <activity android:name=".feature.payment.PaymentActivity" android:exported="false" />
        <activity android:name=".feature.notification.FeatureListActivity" android:exported="false" />
        <activity android:name=".feature.exam.ExamActivity" android:exported="false" />
        <activity android:name=".feature.course.CatalogActivity" android:exported="false" />
        <activity
            android:name=".feature.auth.ResetPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="smartkid" android:host="reset-password" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.auth.ForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.auth.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.course.LessonPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".feature.course.CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
